@CHARSET "ISO-8859-1";

.hidden {
    display: none;
}

fieldset+fieldset {
	margin-top: 20px;
}

.subtle {
	color: "#111111";
	font-style: italic;
}

#tv-settings {
	background-image: url('images/pbr-100.png');
	background-repeat: no-repeat;
	background-position: right bottom;
	padding-bottom: 31px;
}