@CHARSET "ISO-8859-1";

.availableAt {
	width: 80px;
}

#warzatProgressPopup, .hintPopup {
	border: thin solid;
	position: absolute;
	background-color: white;
	padding: 5px;
	box-shadow: 4px 4px 6px #888;
	border-radius: 3px;
	font-family: Verdana, Arial, sans-serif;
	font-size: 14px;
	z-index: 2000;
}

#warzatNoticePopup {
    width: 25em;
    color: #8b0000;
}

#clickHereArrow {
    position: absolute;
    top: -20px;
    left: 50%;
}

.popupFooter {
    margin-top: 5px;
    font-size: smaller;
    text-align:center;
}